<h3>TRADUCTION AUTOMATIQUE</h3>
<p>Vous avez le choix entre une traduction automatique, réalisée avec le script Google Traduction, ou une traduction rédigée (voir MODE DE TRADUCTION).<br>
La traduction automatique est réalisée à partir du site en version française, elle offre deux possibilités :<br>
 * la détection automatique de la langue du navigateur même si celle-ci n'est pas matérialisée par un drapeau,<br>
 * la traduction automatique des pages suite à un clic sur un drapeau.
<br>
Ces 2 modes peuvent coexister, la langue detectée par le navigateur sera la langue par défaut pour l'affichage du site et si le visiteur clique sur un drapeau, par exemple italien, le site s'affichera en italien quelque soit les préférences du navigateur.
<br><br>
L'option 'Afficher les crédits du script Google' est recommandée pour respecter les droits d'auteur.
<br><br>
L'option 'Traduction en mode connecté' permet de traduire les pages d'administration du site.
</p>

<br>
<h3>MODE DE TRADUCTION ET AFFICHAGE DES DRAPEAUX</h3>
<p>Vous avez 4 options :<br>
 => Drapeau masqué : la traduction automatique ne sera possible que si vous avez choisi l'option 'Détection automatique de la langue du navigateur',<br>
 => Traduction automatique : le drapeau de la langue sélectionnée s'affiche dans le menu,<br>
 => Traduction rédigée : un nouveau site est généré, seule la page d'accueil est créée, il faut alors rédiger les pages dans la langue sélectionnée ou avant cela utiliser l'utilitaire de copie,<br>
 => Supprimer la traduction : la traduction rédigée va être supprimée, pensez à sauvegarder avant ( en configuration avancée ) !
<br><br>
Il est pratique d'afficher le drapeau français  pour revenir à la langue originale, sinon cliquez sur le drapeau actif (icône large).
</p>
<br>
<h3>UTILITAIRE DE COPIE</h3>
<p>Quand une traduction rédigée est sélectionnée, il est possible de copier les pages et les modules  d'une langue vers une autre à l'aide de l'utilitaire de copie. Il ne vous restera plus qu'à traduire ces pages.
</p>
