<h2 style="text-align:center">Aide</h2>
<h3>PARAMETRES DU REFERENCEMENT</h3>
<p>Le référencement consiste à mettre en oeuvre des pratiques pour faire apparaître un site dans les moteurs de recherche et pour lui faire gagner des positions, apparaître dans les premiers résultats sinon le premier.<br>
Un site pour un usage strictement personnel, familial, n'a pas besoin d'être référencé, au contraire.<br>
Par contre si un site doit avoir la fréquentation la plus importante possible son référencement est primordial.<br>
Afin d'aider dans cet objectif mais de ne pas tout permettre ZwiiCMS met à la disposition de ses utilisateurs deux outils.<br></p>
<h4>Capture Open Graph</h4>
<p>Le premier est la génération automatique d'une capture OpenGraph de la page d'accueil du site.<br>
C'est cette capture qui sera utilisée lors de tous les partages sur les différents réseaux sociaux.<br>
Les moteurs de recherches ne peuvent ignorer les réseaux sociaux et son utilisation est donc importante.<br>
Il suffit de cliquer sur le bouton bleu Capture Open Graph pour qu'elle soit réalisée et qu'elle apparaissent juste à droite.<br>
Si un message sur fond rouge "Service inaccessible ou erreur d'écriture de l'image" apparaît il faudra donner les droits d'écriture nécessaires, attendre un peu pour réessayer et vérifier si le service Open Graph est vraiment inaccessible et, sinon, voir avec l'hébergeur pourquoi ce service est inacessible ou sous quelles conditions il est accessible.<br></p>
<h4>Sitemap.xml / Robots.txt</h4>
<p>Le deuxième est la génération/mise à jour des fichiers sitemap.xml et robots.txt.<br></p>
<h5>Sitemap.xml</h5>
<p>Le fichier sitemap XML (sitemap.xml) est un fichier texte au format XML (langage de balisage extensible) contenant une liste de toutes les sous-pages du site Web sous forme de lien. Les robots des moteurs de recherches analysent ce fichier et il est donc très important.<br>
Le fichier robots.txt quant à lui sert à indiquer aux moteurs de recherches ce qui leur est interdit/autorisé : ATTENTION, ce n'est pas avec ce fichier que l'on interdit l'indexation d'une page particulière, en tout cas pas seulement, et il faudra employer d'autres mécanismes si ce but est recherché.</p>
<h5>Robots.txt</h5>
<p>Le fichier robots.txt généré par ZwiiCMS interdit l'accès aux dossiers critiques du CMS : /core/, /module/, /site/data, /site/tmp, /site/backup.
Par contre il autorise : /site/file/ et le fichier sitemap.xml.gz.
Il suffit de cliquer sur le bouton bleu Sitemap.xml /Robots.txt pour que les fichiers soient mis à jour (ils sont automatiquement créés au moment de l'installation).<br>
Si au lieu d'un message de succès sur fond vert apparaît le message sur fond rouge "Échec d'écriture, le sitemap n'a pas été mis à jour" il faudra investiguer pour déterminer et résoudre le problème.
</p>
<h3>RESEAUX SOCIAUX</h3>
<p>Il suffit ici de compléter l'ID d'un réseau social pour que l'icône correspondante s'affiche dans le pied de page.<br>
Cela implique évidemment d'avoir paramétré via "Personnaliser les thèmes" puis "Personnalisation du pied de page" l'affichage en question.<br>
Par défaut cet affichage est déjà paramétré et l'icône Facebook affichée. Elle se contente au clic de renvoyer alors sur la page d'accueil de Facebook, aucun ID n'étant indiqué.<br>
Pour supprimer l'affichage de cette icône il suffit d'effacer le contenu du champ "Facebbok" et d'enregistrer.
</p>
<h3>SCRIPTS</h3>
<p>Pour enrichir les fonctionnalités de ZwiiCMS il est possible d'utiliser de nombreux scripts à disposition sur internet : le plus souvent ces scripts impliquent de modifier le "head" ou/et le "body" du site et c'est donc ici que cela se passe.</p>
<h4>Google Analytics</h4>
<p>Ce script a un traitement particulier compte-tenu son usage intense : il suffit ici d'indiquer l'ID de suivi fournie par Google et d'enregistrer pour qu'il fonctionne.<br>
À noter qu'en configurant ce script il est alors nécessaire de mettre en place un système de consentement aux cookies différent de celui intégré à ZwiiCMS qui ne permet pas de gérer les cookies externes.<br>
De même il est nécessaire de paramétrer les "Mentions légales" dans "Configurer le site" rubrique "Pages spéciales".<br></p>
<h4>Scripts dans head / Scripts dans body</h4>
<p>En fonction du script à paramétrer il suffit de cliquer sur le bouton correspondant pour insérer les lignes nécessaires à son bon fonctionnement au bon endroit : chaque script a ses propres paramétrages et ne nécessite pas obligatoirement d'intervenir à la fois au niveau du "head" et du "body".<br>
</p>
