# Fichiers du site
site/*

# Dossiers vides dans GitHub
!.gitkeep
/.git

# PHPStorm
.idea/

# Trucs
core/vendor/tinymce/link_list.json
site/tmp/.htaccess
.vscode/*
site/data/body.inc.html
site/data/head.inc.html
sitemap.xml.gz
sitemap.xml
robots.txt
site/data/journal.log
.DS_Store
