# Fichiers temporaires
site/tmp/*.zip
site/tmp/*.gz
site/tmp/*.png

# Sauvegardes
site/backup/*

# Fichiers de données
site/data/*.json
site/data/*.css
site/data/fr/*.json


# Fichiers uploadés
site/file/source/
site/file/thumb/

# Dossiers vides dans GitHub
!.gitkeep
/.git

# PHPStorm
.idea/

# Trucs
core/vendor/tinymce/link_list.json
site/tmp/.htaccess
.vscode/*
site/data/body.inc.html
site/data/head.inc.html
sitemap.xml.gz
sitemap.xml
robots.txt
site/data/journal.log
.DS_Store
site/.DS_Store
site/file/.DS_Store
site/tmp/5f7f5e998762c.png
site/tmp/5f7f5e9987628.png
site/tmp/5f7f5ea3e983b.png
site/tmp/5f7f5ea3e9837.png
site/tmp/5f7f5ea20d5eb.png
site/tmp/5f7f5ea20d5ee.png
