<h2 style="text-align:center">Aide</h2>
<h3>LANGUES ETRANGERES</h3>
<p>L'activation des langues étrangères active une nouvelle option dans la barre d'administration. Plus d'aide y sont disponible concernant ce mode.</p>
<h3>Identité du site</h3>
<p>Lorsque votre site est traduite manuellement dans plusieurs langues cette page doit être renseignée dans la langue de traduction. La langue courante est celle indiquée par le drapeau.</p>
<h3>PAGES SPECIALES</h3>
<p>>Les pages spéciales sont affectées à des fonctions particulières. Elles sont également accessibles dans le pied de page. L'étiquette dans ce pied de page peut également être traduit.</p>
<p>Pour faire apparaître un lien 'Mentions légales' dans le pied de page, vous sélectionnez la page puis
dans la barre d'administration vous sélectionnez 'Personnaliser les thèmes', vous cliquez sur le pied de page et vous cochez la case 'Mentions légales'.<br>
Vous pouvez personnaliser la page 'Mentions légales', accessible en choisissant cette page dans la barre d'administration, ou créer votre propre page.<br>
<a href="https://www.service-public.fr/professionnels-entreprises/vosdroits/F31228" target="_blank" rel="noopener">Ce site officiel vous indique les mentions obligatoires à y faire figurer</a></p>
<h3>RECHERCHE</h3>
<p>Pour faire apparaître un lien 'Recherche' dans le pied de page, vous procédez de manière similaire.</p>
<h3>ERREURS ET SITE EN MAINTENANCE</h3>
<p>Les pages par défaut sont 'Erreur403', 'Erreur 404' et 'Site en maintenance'. Vous pouvez les modifier, en les choisissant à partir de la barre
d'administration, ou créer vos propres pages orphelines (en édition de page sélectionnez dans le bloc 'Emplacement dans le menu' : 'Ne pas afficher').</p>