.rowArticle {
	margin-bottom: 10px !important;
}
.blogPicture {
	float: none;
	border: 1px;
}
.blogPicture img {
	width: 100%;
	height: auto;
	/*
	border:1px solid lightgray;
	box-shadow: 1px 1px 5px darkgray;
	*/
}

.blogPicture:hover {
	opacity: .7;
}
.row:after {
	content: " ";
	display: table;
	clear: both;
}
.blogComment {
	padding-right: 10px;
	float: right;
}
.blogTitle {
	/*background-color: #ECEFF1;*/
	padding: 0px;
	margin-bottom: 5px;
}
.blogContent {
	float: left;
	margin-top: 5px;
}
.blogDate {
	font-size:0.8em;
	font-style: italic;
	/*
	color: grey;
	*/
}
@media (max-width: 768px) {
	.blogContent {
		display: none;
	}
}