.galleryPicture {
	display: block;
	border: 1px solid #000;
	height: 8em;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	-webkit-transition: opacity .3s ease-out;
	transition: opacity .3s ease-out;
}
.galleryPicture:hover {
	opacity: .7;
}
.galleryName {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 8px;
	background: rgba(0, 0, 0, .6);
	color: #FFF;
	text-align: center;
}
.galleryRow {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.colPicture {
   width : 8em;
   max-width: 50%;
   margin: 1.1em;
 }

 @media (max-width: 432px) {
	.colPicture {
		width: 90%;
		max-width: 90%;
		margin: 0.5em;
	  }
 }