<h2 style="text-align:center">Aide</h2>
<h3>RESEAU</h3>
<p>Ces paramètres ne sont généralement pas nécessaires quand ZwiiCMS est installé chez un hébergeur ou à domicile.<br>
Par contre dans les milieux professionnels l'usage d'un proxy est la norme.<br>
Afin de permettre un usage normal de ZwiiCMS dans ce cas de figure il peut être nécessaire de renseigner le proxy de l'entreprise : ces paramètres, type, adresse et port, sont à demander à l'administrateur réseaux de l'entreprise.<br>
Ces paramètres sont également généralement accessibles dans la configuration réseau d'un navigateur web fonctionnel.<br>
</p>
<h3>SMTP</h3>
<p>Activer le SMTP n'est généralement pas nécessaire : il s'agit de la fonctionnalité d'envoi de courriel et généralement tous les hébergeurs la propose sans qu'il y ait besoin de la paramétrer.<br>
Toutefois il est possible que se ne soit pas le cas, dans le cas d'un auto-hébergement de ZwiiCMS et en milieux professionnels il peut également être nécessaire d'activer cette fonctionnalité et d'en renseigner les paramètres.<br>
Ces paramètres, adresse et port, sont à récupérer auprès de l'hébergeur ou de l'administrateur réseaux de l'entreprise. Une authentification peut également être nécessaire et là encore l'hébergeur et le l'administrateur réseaux sont les bons interlocuteurs : outre le Nom d'utilisateur et le Mot de passe que chacun connait généralement c'est le type de sécurité qui est important.<br>
Ces paramètres sont également généralement accessibles dans la configuration d'un logiciel de messagerie fonctionnel.<br>
</p>
