<h2 style="text-align:center">Aide</h2>
<h3>MISE A JOUR AUTOMATISEE</h3>
<h4>Rechercher une mise à jour en ligne</h4>
<p>L'activation de ce paramètre entraîne la vérification quotidienne de l'existence d'une mise à jour.<br>
Quand il y a effectivement une mise à jour une icône supplémentaire s'affiche alors dans la barre d'administration et permet de la lancer d'un seul clic.<br>
Il est important de maintenir le site à jour afin de corriger d'éventuels dysfonctionnements, de bénéficier des nouvelles fonctionnalités et de le protéger de potentielles failles de sécurité.<br>
Il est donc conseillé d'activer ce paramètre.<br>
Cependant si généralement tout fonctionne bien, certains hébergeurs, rares, ne permettent pas toujours son usage complet : la vérification peut par exemple fonctionner mais la mise à jour non. Ou alors rien ne fonctionne.<br>
Si cela se produit, et suivant le niveau de blocage de l'hébergeur, il faut alors déterminerer si il est judicieux ou pas d'activer ce paramètre : la pluspart du temps la vérification de l'existence d'une mise à jour fonctionne et cela permet ansi d'être simplement averti de sa disponiblité.<br>
</p>
<h4>Mise à jour manuelle</h4>
<p>Ce large bouton rouge permet de lancer d'un simple clic la mise à jour vers la dernière version en ligne.<br>
Une mise à jour existe mais pour une raison inconnue, alors qu'habituellement la "Mise à jour en ligne" fonctionne, là l'icône pour réaliser la mise à jour n'apparaît pas : en cliquant sur ce bouton la mise à jour est forcée.<br>
Même si le site est déjà dans la dernière version la "mise à jour" sera réalisée.<br>
L'usage de ce bouton ne permet pas de passer outre un éventuel blocage de l'hébergeur : les mécanismes de mise à jour sont les mêmes qu'avec la "Mise à jour en ligne"...<br>
Si ce type de blocage de blocage du fait de l'hébergeur se produit le changement d'hébergeur est à envisager : les hébergeurs concernés sont tout de même très rares.<br>
La seule possibilité pour alors réaliser une mise à jour est alors via FTP.<br>
</p>