<h2 style="text-align:center">Aide</h2>
<h3>PARAMETRES</h3>
<p>À ce niveau plusieurs paramètres importants peuvent être configurés.</p>
<h4>Favicon</h4>
<p>Il s'agit ici de choisir le fichier de l'icône qui s'affiche dans la barre de titre, l'onglet, du navigateur devant le "Titre du site" que vous avez indiqué dans "Configurer le site" à la rubrique "Identité".<br>
Par défaut c'est l'îcone de ZwiiCMS qui est paramétrée.<br>
Pour la modifier il suffit de cliquer dans le champ pour faire apparaître le gestionnaire de fichier.<br>
Là il faut télécharger le fichier à utiliser pour qu'il soit dans la liste des fichiers afin d'être sélectionné : ce fichier doit obligatoirement avoir l'extension .ico.<br>
Ensuite il suffit de cliquez sur le fichier désiré pour le sélectionner.<br>
Après enregistrement c'est désormais l'icône précédemment sélectionnée qui doit s'afficher dans l'onglet du site : dans le cas contraire il est nécessaire de vider le cache du navigateur pour que le changement soit bien visible.<br></p>
<h4>Favicon thème sombre</h4>
<p>C'est exactement la même chose que le paramètre précédent mais comme son nom l'indique il s'agit ici d'indiquer une icône adaptée à un thème sombre.<br></p>
<h4>Fuseau horaire</h4>
<p>Dans ce champ est tout simplement indiqué le fuseau horaire sur lequel le site fonctionne en le choisissant dans le panneau déroulant.<br></p>
<h4>Consentement aux cookies</h4>
<p>En cochant cette case une fenêtre surgissante apparaîtra obligatoirement aux visiteurs, lors de leur première visite, pour leur demander leur consentement sur l'utilisation des cookies<br>
Le texte suivant apparaîtra :<br>
Ce site utilise des cookies pour assurer l'authentification, améliorer l'expérience utilisateur.<br>
En cliquant sur ”Accepter”, vous acceptez l’utilisation de ces cookies.<br>
Tant que le visiteur n'aura pas indiqué son choix en cliquant sur le bouton "Accepter" ou "Refuser" la fenêtre restera affichée.<br>
Demander le consentement des visiteurs sur l'usage de cookies est une obligation légale en Europe.<br>
Seuls les cookies indispensables au bon fonctionnement du site ne nécessitent pas ce consentement.<br>
ZwiiCMS n'utilse ainsi pas de cookies nécessitant le consentement des visiteurs : cette case ne doit être cochée qu'à partir du moment ou des fonctionnalités tierces, comme google analytics par exemple, sont ajoutées au site. Outre ce consentement il faudra alors détailler les cookies ajoutés dans les Mentions légales, "Configurer le site" rubrique "Pages spéciales", en adaptant la page par défaut ou en en créant une spécifique.</p>